/* Ensure the navbar has some space from the rest of the content */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-form-container {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0; /* Adds margin at the top to ensure it is below the navbar */
    padding: 40px 50px;
    background: linear-gradient(145deg, #d1dcf2, #d4e0ed);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .login-form-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #e4a862;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #d0b271;
  }
  