.partner-with-us-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding:50px;
    box-sizing: border-box;
  }
  
  .image-container {
    width: 40%; 
    height: 100px;
    max-width: 600px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
  }
  
  .form-container {
    width: 40%; 
    max-width: 600px;
    padding: 40px 50px;
    padding-right: 0px;
 background: linear-gradient(145deg, #d1dcf2, #d4e0ed);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .form-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 80px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px 0px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #200e48;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
   margin-right: 80px;
  }
  