.track-order-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    height: 100px;
    padding: 80px;
    box-sizing: border-box;
  }
  
  .track-order {
    width: 60%; 
    max-width: 600px; 
    font-family: 'Poppins', sans-serif;
    color: #c4cfde;
  }
  .tracking-card {
    background: linear-gradient(145deg, #d1dcf2, #d4e0ed);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(0, 0, 0, 0.1); /* Lighter shadow */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #090909;
    width: 100%; /* Ensure cards take full width of the container */
  }
  
  .tracking-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .tracking-card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    padding: 10px 150px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color:  #200e48;
    border: none;
    padding: 8px 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    font-size: 1.2rem;
  }
  
  .tracking-link {
    color:#200e48;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Styling for the image container */
  .image-container {
    width: 40%; /* Adjust width as needed */
    max-width: 500px; /* Set a max-width for the image */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add rounded corners to the image */
  }
  