.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Updated to use black with 50% opacity */
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h2 {
    color: #0f3460;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .login-form input:focus {
    border-color: #0f3460;
    outline: none;
  }
  
  .login-form button {
    padding: 15px;
    background-color: #0f3460;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #0d2a5e;
  }
  
  .login-footer {
    text-align: center;
    margin-top: 15px;
  }
  
  .login-footer a {
    color: #0f3460;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  
  /*------login-----------*/
  