/* footer1.css */
.footer {
  background-color: #f8f9fa;
  padding: 40px 20px;
  color: #343a40;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  color: #050505;
  border-bottom: none; /* Remove the border below the heading */
  text-decoration: none;
  font-size: 1.5rem; /* Ensure no underline or text decoration */
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #007bff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
}

.download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-section h4 {
  margin-bottom: 15px;
}

.download-icon {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin: 5px; /* Add space between icons */
  border-radius: 8px; /* Optional: add border-radius to match card styling */
}
