@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: "Open Sans", Arial;
  background: #EDEDED;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

p {
  margin-top: 2rem;
  font-size: 13px;
}

.chart-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.bar-chart,
.pie-chart {
  width: 100%;
  height: 100%;
  position: relative;
}

.bar-chart::before,
.pie-chart::before {
  content: "";
  position: absolute;
  display: block;
  width: 240px;
  height: 30px;
  left: 30px;
  top: 470px;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}

.pie-chart::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 115px;
  left: 450px;
  top: 0;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}

.pie-chart::after {
  content: "";
  position: absolute;
  display: block;
  top: 470px;
  left: 70px;
  width: 170px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
}
